<header id="header">
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav class="links">
    <ul>
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <li class="menu">
        <a class="fa-bars" href="#menu">Menu</a>
      </li>
    </ul>
  </nav>
</header>
<section id="menu">
    <section>
      <ul class="links">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
</section>
