<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>  
    <div id="wrapper">
    {% include header.html %}
      <div id="main">
        <article class="post">
          {{ content }}
        </article>
      </div>
      {% include footer.html %}
    </div>
  <!-- Scripts -->
    <script src="http://www.edwinhung.com/assets/js/jquery.min.js"></script>
    <script src="http://www.edwinhung.com/assets/js/skel.min.js"></script>
    <script src="http://www.edwinhung.com/assets/js/util.js"></script>
    [if lte IE 8]><script src="http://www.edwinhung.com/assets/js/ie/respond.min.js"></script>[endif]
    <script src="http://www.edwinhung.com/assets/js/main.js"></script>
  </body>
</html>
