<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">sidebar</button>
          </p>
          {{ content }}
          <!-- Sidebar begins --> 
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <!-- Twitter Widget -->
            <div class="list-group">
              <!-- <a href="#" class="list-group-item">link</a> -->
              <a class="twitter-timeline" href="https://twitter.com/ecyhung" data-widget-id="668299003910488065">Tweets by @ecyhung</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div><!-- Twitter Widget -->
          </div><!--/.sidebar-offcanvas-->
        </div>
      </div>
    </div>
    {% include footer.html %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="java.js"></script>
  </body>
</html>